body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.brand {
  font-size: 20px;
  cursor: pointer;
}
.brand__name {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
.brand__description {
  font-size: 13px;
  line-height: 13px;
  text-transform: lowercase;
  letter-spacing: 0.29em;
}

.menu-btn {
  font-size: 18px;
  text-align: right;
  cursor: pointer;
}
.menu-btn span {
  font-weight: 600;
}
.menu-btn i {
  font-size: 20px;
}

.page-navigation label {
  font-size: 18px;
  line-height: 45px;
  cursor: pointer;
}
.page-footer {
  text-align: center;
}

.user__firstname {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: capitalize;
  letter-spacing: -0.06em;
}
.user__lastname {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: -0.06em;
}
.user__position {
  text-transform: lowercase;
}
.user__contacts {
  font-size: 18px;
  text-transform: lowercase;
}
.user__contacts i {
  font-size: 20px;
}

#home {
  text-align: center;
}

@media (min-width: 768px) {
  #home {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .brand__name {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -.04em;
  }
  .brand__description {
    font-size: 14px;
    line-height: 14px;
  }
}
body {
  background-color: #e9e9e9;
  color: #545454;
}

a, .user__firstname, .user__lastname {
  color: #1e8dff;
}

@media (min-width: 768px) {
  .menu-btn {
    background: linear-gradient(106.7deg, rgba(255, 255, 255, 0) 10.94%, rgba(255, 255, 255, 0.6) 100%), #e9e9e9;
  }
}
.menu-btn span, menu-btn i,
.brand__logo {
  text-shadow: -1px -1px 1px #ffffff, 1px 1px 1px #ffffff;
}

.page-navigation label,
#home .my-photo img {
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #bdbebd;
          box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #bdbebd;
}

@media (min-width: 768px) {
  .menu-btn {
    -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #bdbebd;
            box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #bdbebd;
  }
}
body {
  min-width: 320px;
}

.page-header, .page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-main {
  padding-top: 15px;
  padding-bottom: 30px;
}
.page-footer {
  margin-top: 30px;
}
.page-footer .container {
  position: relative;
}
.page-footer .container::before {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  top: -30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  border-top: 1px solid #bdbebd;
  border-bottom: 1px solid #ffffff;
}
.page-footer .address {
  margin-bottom: 11px;
}

.user {
  vertical-align: middle;
}
.user h1, .user h2, .user h3 {
  margin-bottom: 10px;
}
.user__position {
  margin-bottom: 45px;
}
.user__contacts li:not(:last-child) {
  margin-bottom: 11px;
}
.user__contacts i {
  margin-right: 10px;
}

#home .my-photo img {
  display: block;
  border-radius: 15px;
  border: 3px solid #e9e9e9;
}
@media (max-width: 767px) {
  #home .my-photo {
    margin: 0 auto 45px;
  }
}

@media (min-width: 768px) {
  .page-header .container {
    position: relative;
  }
  .page-header .container::after {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -30px;
    height: 0;
    border-top: 1px solid #bdbebd;
    border-bottom: 1px solid #ffffff;
  }

  .page-footer .address {
    margin-bottom: 0;
  }

  .menu-btn {
    padding: 6px 20px;
    border: 1px solid #e9e9e9;
    border-radius: 9px;
  }
}
@media (min-width: 992px) {
  .page-header {
    margin-bottom: 30px;
  }

  .page-main {
    padding-bottom: 15px;
  }
}
.page-navigation ul {
  padding-top: 15px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .page-navigation ul {
    padding-top: 30px;
  }
}
.page-navigation li:not(:last-child) {
  margin-bottom: 15px;
}
.page-navigation label {
  position: relative;
  padding-left: 60px;
  border-radius: 15px;
  background-color: #e9e9e9;
  overflow: hidden;
}
.page-navigation label::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 59px;
  border-left: 1px solid #bdbebd;
  border-right: 1px solid #ffffff;
}
.page-navigation label i {
  position: absolute;
  width: 60px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}
.page-navigation label span {
  margin-left: 15px;
}

@media (min-width: 992px) {
  .page-navigation ul {
    position: fixed;
    top: 94px;
    bottom: 80px;
    right: -90px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
  }
  .page-navigation ul:hover label {
    overflow: visible;
  }
  .page-navigation label {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
  .page-navigation label::before {
    display: none;
  }
  .page-navigation label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 75px;
    margin: 0;
    line-height: 1.2;
    text-align: right;
  }
}
input#toggle-menu:not(:checked) ~ .page-navigation {
  height: 0;
  overflow: hidden;
}
input#toggle-menu:checked ~ .page-header .menu-btn i {
  color: #1e8dff;
}
input#toggle-menu:checked ~ .page-navigation {
  height: auto;
}
input#toggle-home:checked ~ .page-navigation label[for="toggle-home"], input#toggle-teaching:checked ~ .page-navigation label[for="toggle-teaching"], input#toggle-practice:checked ~ .page-navigation label[for="toggle-practice"], input#toggle-internship:checked ~ .page-navigation label[for="toggle-internship"], input#toggle-safety:checked ~ .page-navigation label[for="toggle-safety"] {
  color: #1e8dff;
  -webkit-box-shadow: inset -5px -5px 15px #ffffff, inset 5px 5px 15px #bdbebd;
          box-shadow: inset -5px -5px 15px #ffffff, inset 5px 5px 15px #bdbebd;
}

@media (min-width: 768px) {
  input#toggle-menu:checked ~ .page-header .menu-btn {
    color: #1e8dff;
  }
}
@media (min-width: 992px) {
  input#toggle-menu:checked ~ .page-navigation ul {
    right: calc((100vw - 960px) / 2);
  }
}
@media (min-width: 1200px) {
  input#toggle-menu:checked ~ .page-navigation ul {
    right: calc((100vw - 1140px) / 2);
  }
}

/*# sourceMappingURL=style.css.map */