.user__contacts .fas {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.025em;
}

.page-footer {
  font-size: 16px;
}

.brand-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  text-align: left;
}
.brand-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: lowercase;
  letter-spacing: 0.454em;
  text-align: left;
}

.user h1, .user h2, .user h3, .user p {
  line-height: 1;
}
.user__firstname {
  font-size: 24px;
}
.user__lastname {
  font-size: 38px;
  text-transform: uppercase;
}
.user__contacts li {
  font-size: 18px;
  line-height: 32px;
}
.user__contacts .fas {
  font-size: 28px;
}
.user__contacts a {
  text-decoration: none;
}

body {
  background-color: #cccccc;
  color: #000000;
}

.user__firstname, .user__lastname {
  color: black;
}
.user__position {
  color: black;
}
.user__contacts a {
  color: #4d4d4d;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.user__contacts a:hover {
  color: black;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.user__contacts .fas {
  color: black;
}

.page-header {
  padding: 15px 0;
}
.page-footer {
  margin-top: 30px;
  padding: 30px 0;
}
.page-footer .container {
  position: relative;
}
.page-footer .container::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 15px;
  right: 15px;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #e6e6e6;
}

.my-photo {
  margin-top: 15px;
  margin-bottom: 30px;
}

.user__position {
  margin-top: 15px;
  margin-bottom: 30px;
}
.user__contacts li {
  position: relative;
  padding-left: 45px;
}
.user__contacts .fas {
  position: absolute;
  left: 0;
}

.navigation__list {
  padding-bottom: 30px;
  margin-bottom: 0;
}
.navigation__list li:first-child {
  border-top: 1px solid #b3b3b3;
}
.navigation__list li:last-child {
  border-bottom: 1px solid #e6e6e6;
}
.navigation__list li label {
  position: relative;
  padding-left: 60px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #b3b3b3;
  line-height: 43px;
  color: #666666;
  cursor: pointer;
}
.navigation__list li .fas {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#home-toggle:checked ~ .page-navigation label[for="home-toggle"],
#teaching-toggle:checked ~ .page-navigation label[for="teaching-toggle"],
#practice-toggle:checked ~ .page-navigation label[for="practice-toggle"],
#internship-toggle:checked ~ .page-navigation label[for="internship-toggle"],
#safety-toggle:checked ~ .page-navigation label[for="safety-toggle"] {
  background-color: #bfbfbf;
  color: #000000;
}

#nav-toggle:checked ~ .page-navigation {
  height: 0;
  overflow: hidden;
}

.shadow--3d {
  position: relative;
}
.shadow--3d::before, .shadow--3d::after {
  content: "";
  position: absolute;
  bottom: 10px;
  z-index: -1;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.7);
}
.shadow--3d::before {
  left: 30px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.shadow--3d::after {
  right: 30px;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.text-shadow--apple {
  background-color: #333333;
  color: transparent;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
}

/*# sourceMappingURL=style.css.map */