// COLOR

body {
  background-color: $bg-color;
  color: $txt-color;
}

a, .user__firstname, .user__lastname {
  color: $accent-color;
}

@media (min-width: 768px) {
  .menu-btn {
    background: linear-gradient(106.7deg, rgba(255, 255, 255, 0) 10.94%, rgba(255, 255, 255, 0.6) 100%), $bg-color;
  }
}