// COLOR

body {
  background-color: $bg-color;
  color: $txt-color;
}

.user {
  &__firstname, &__lastname {
    color: lighten($txt-color, 25%);
  }
  &__position {
    color: lighten($txt-color, 40%);
  }
  &__contacts {
    a {
      color: lighten($txt-color, 40%);
      transition: color 0.3s linear;
      
      &:hover {
        color: lighten($txt-color, 25%);
        transition: color 0.3s linear;
      }
    }
    .fas {
      color: lighten($txt-color, 25%);
    }
  }
}