// LAYOUT

.page {
  
  &-wrapper {
    
  }
  &-navigation {
    
  }
  &-main {
    
  }
  &-header {
    padding: $gutter 0;
  }
  &-footer {
    margin-top: 2 * $gutter;
    padding: 2 * $gutter 0;
    
    .container {
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        top: -2 * $gutter;
        left: $gutter;
        right: $gutter;
        border-top: 1px solid darken($bg-color, 10%);
        border-bottom: 1px solid lighten($bg-color, 10%);
      }
    }
  }
  
}

.my-photo {
  
  margin-top: 1 * $gutter;
  margin-bottom: 2 * $gutter;
  
}

.user {
  
  &__position {
    margin-top: $gutter;
    margin-bottom: 2 * $gutter;
  }
  &__contacts {
    li {
      position: relative;
      padding-left: 3 * $gutter;
    }
    .fas {
      position: absolute;
      left: 0;
      @extend %positioning-middle;
    }
  }
  
}