// NAVIGATION

.page-navigation {
  ul {
    padding-top: $gutter;
    padding-bottom: 2 * $gutter;
    
    @media (min-width: 768px) {
      padding-top: 2 * $gutter;
    }
  }
  li:not(:last-child) {
    margin-bottom: $gutter;
  }
  label {
    position: relative;
    padding-left: 4 * $gutter;
    border-radius: $gutter;
    background-color: $bg-color;
    overflow: hidden;
    
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 4 * $gutter - 1;
      border-left: 1px solid $dark-shadow-color;
      border-right: 1px solid $light-shadow-color;
    }
    i {
      position: absolute;
      width: 4 * $gutter;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      text-align: center;
    }
    span {
      margin-left: 1 * $gutter;
    }
  }
}

@media (min-width: 992px) {
  .page-navigation {
    ul {
      position: fixed;
      top: 94px;
      bottom: 80px;
      right: -6 * $gutter;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      &:hover {
        label {
          overflow: visible;
        }
      }
    }
    label {
      width: 4 * $gutter;
      height: 4 * $gutter;
      border-radius: 50%;
      overflow: hidden;
      &::before {
        display: none;
      }
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5 * $gutter;
        margin: 0;
        line-height: 1.2;
        text-align: right;
      }
    }
  }
}