// NAVIGATION

.navigation {
  
  &__list {
    padding-bottom: 2 * $gutter;
    margin-bottom: 0;
    
    li {
      &:first-child {
        border-top: 1px solid darken($bg-color, 10%);
      }
      &:last-child {
        border-bottom: 1px solid lighten($bg-color, 10%);
      }
      label {
        position: relative;
        padding-left: 4 * $gutter;
        border-top: 1px solid lighten($bg-color, 10%);
        border-bottom: 1px solid darken($bg-color, 10%);
        line-height: 3 * $gutter - 2px;
        color: lighten($txt-color, 40%);
        cursor: pointer;
      }
      .fas {
        position: absolute;
        left: $gutter;
        @extend %positioning-middle;
      }
    }
  }
  
  @media (min-width: 992px) {
    position: relative;
    
    &__list {
      position: absolute;
      top: 0;
      right: $gutter;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(100vh - 70px - 85px);
      padding: 0;
      background-color: transparent;
      
      li {
        &:not(:last-child) {
          margin-bottom: $gutter;
        }
        &:first-child, &:last-child {
          border: none;
        }
        label {
          width: 3 * $gutter;
          height: 3 * $gutter;
          padding-left: 0;
          border: 1px solid darken($bg-color, 10%);
          border-bottom-color: lighten($bg-color, 10%);
          border-right-color: lighten($bg-color, 10%);
          border-radius: 50%;
          line-height: 1;
          text-align: right;
          
          &:hover {
            span {
              width: auto;
            }
          }
        }
        .fas {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 4 * $gutter;
          width: 0;
          overflow: hidden;
        }
      }
    }
  }
  
}

#home-toggle:checked ~ .page-navigation label[for="home-toggle"], 
#teaching-toggle:checked ~ .page-navigation label[for="teaching-toggle"], 
#practice-toggle:checked ~ .page-navigation label[for="practice-toggle"], 
#internship-toggle:checked ~ .page-navigation label[for="internship-toggle"], 
#safety-toggle:checked ~ .page-navigation label[for="safety-toggle"] {
  background-color: darken($bg-color, 5%);
  color: $txt-color;
}

#nav-toggle:checked ~ .page-navigation {
  height: 0;
  overflow: hidden;
}