// SHADOW

// Text Shadow
.menu-btn span, menu-btn i,
.brand__logo {
  text-shadow: -1px -1px 1px $light-shadow-color, 1px 1px 1px $light-shadow-color;
}

// Block Shadow
.page-navigation label,
#home .my-photo img {
  box-shadow: -5px -5px 15px $light-shadow-color, 5px 5px 15px $dark-shadow-color;
}

@media (min-width: 768px) {
  .menu-btn {
    box-shadow: -5px -5px 15px $light-shadow-color, 5px 5px 15px $dark-shadow-color;
  }
}