// TYPO

body {
  font: {
    family: $plain-text-font-family;
    size: $plain-text-font-size;
    weight: $plain-text-font-weight;
  }
  line-height: 1.5;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $heading-text-font-family;
    weight: $heading-text-font-weight;
  }
  letter-spacing: -0.025em;
}

.page {
  
  &-footer {
    font-size: 16px;
  }
}

.brand {
  
  &-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    text-align: left;
  }
  &-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-transform: lowercase;
    letter-spacing: 0.454em;
    text-align: left;
  }
}

.user {
  h1, h2, h3, p {
    line-height: 1;
  }
  &__firstname {
    font-size: 24px;
  }
  &__lastname {
    font-size: 38px;
    text-transform: uppercase;
  }
  &__contacts {
    li {
      font-size: 18px;
      line-height: 32px;
    }
    .fas {
      font-size: 28px;
    }
    a {
      text-decoration: none;
    }
  }
}