// VARIABLES

// Typo
$plain-text-font-family: 'Open Sans', sans-serif;
$plain-text-font-size: 18px !default;
$plain-text-font-weight: 400 !default;

$heading-text-font-family: 'Montserrat', sans-serif;

// Color
$bg-color: #cccccc;
$txt-color: #000000;